<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmayiedu.api.dao.IMemberDao">

    <select id="getMember" resultType="com.itmayiedu.api.entity.User">


        select t.id,t.rolename name from t_test_chen t
        where t.id=#{id}



    </select>


</mapper>